body {
  background-color: cornflowerblue;
}

.App-title {
  display: flex;
  flex-direction: column;
}

.new-card-form {
  margin-bottom: 20px;
}

.Main {
  display: flex;
  justify-content: center;
  
  .QueueColumn {
    padding-right: 100px;
    border-right: 6px solid black;

    .queue-header {
      text-align: center;
    }
}

  .In-ProgressColumn {
    padding-left: 100px;
    padding-right: 100px;
    border-right: 6px solid black;
      .in-progress-header {
        text-align: center;
      }
  }
  .DoneColumn {
    padding-left: 100px;
    padding-right: 100px;
    border-right: 6px solid black;
      .done-header {
        text-align: center;
      }
  }

  .card {
    height: 160px;
    background-color: azure;
    align-items: center;
    border: 3px solid black;
    margin-bottom: 20px;
    width: 250px;

    .attribute {
      padding-left: 8px;
    }

    .edit-delete-buttons {
      padding-top: 15px;
      display: flex;
      justify-content: center;

      .edit-button {
        padding: 10px 24px;
        text-align: center;
      }
  
      .delete-button {
        padding: 10px 24px;
        text-align: center
      }


    }

  }
}
