body {
  background: linear-gradient(#a8e9ff, #052afc);
  font-family: "Coustard", serif; }

.App-title {
  padding-top: 8px;
  display: flex;
  flex-direction: column; }
  .App-title h1 {
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center; }
  .App-title .card-form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border: 2px solid #336600;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 540px;
    background-color: #b3ffcc;
    box-shadow: 5px 10px 8px #33334d; }
    .App-title .card-form h3 {
      display: flex;
      justify-content: center; }
    .App-title .card-form .title-input-row {
      padding-bottom: 10px; }
      .App-title .card-form .title-input-row label {
        padding-right: 5px; }
      .App-title .card-form .title-input-row .title {
        height: 50px;
        width: 250px; }
    .App-title .card-form input {
      font-family: "Coustard", serif;
      width: 200px; }
    .App-title .card-form select {
      width: 200px;
      font-family: "Coustard", serif; }
    .App-title .card-form .input-row {
      display: flex;
      padding-bottom: 10px;
      padding-left: 2px; }
      .App-title .card-form .input-row label {
        padding-right: 5px; }
    .App-title .card-form .submit-input-row {
      display: flex;
      justify-content: center; }
      .App-title .card-form .submit-input-row .submit-input {
        display: flex;
        justify-content: center;
        padding: 10px 24px;
        text-align: center; }
      .App-title .card-form .submit-input-row .submit-input:hover {
        background-color: #66CDAA; }
      .App-title .card-form .submit-input-row .cancel-button {
        display: flex;
        justify-content: center;
        padding: 10px 24px;
        text-align: center; }
      .App-title .card-form .submit-input-row .cancel-button:hover {
        background-color: #66CDAA; }

.new-card-form {
  margin-bottom: 20px; }

.Main {
  display: flex;
  justify-content: center; }
  .Main .QueueColumn {
    padding-right: 60px;
    border-right: 6px solid black; }
    .Main .QueueColumn .queue-header {
      text-align: center; }
  .Main .In-ProgressColumn {
    padding-left: 100px;
    padding-right: 100px;
    border-right: 6px solid black; }
    .Main .In-ProgressColumn .in-progress-header {
      text-align: center; }
  .Main .DoneColumn {
    padding-left: 100px;
    padding-right: 100px;
    border-right: 6px solid black; }
    .Main .DoneColumn .done-header {
      text-align: center; }
  .Main .card {
    height: 170px;
    background-color: azure;
    align-items: center;
    border: 3px solid black;
    padding-top: 8px;
    margin-bottom: 20px;
    width: 280px;
    box-shadow: 5px 10px 8px #33334d; }
    .Main .card .attribute {
      padding-left: 8px; }
    .Main .card .edit-delete-buttons {
      padding-top: 15px;
      display: flex;
      justify-content: center; }
      .Main .card .edit-delete-buttons .edit-button {
        padding: 10px 24px;
        text-align: center;
        font-family: "Coustard", serif; }
      .Main .card .edit-delete-buttons .edit-button:hover {
        background-color: #66CDAA; }
      .Main .card .edit-delete-buttons .delete-button {
        padding: 10px 24px;
        text-align: center;
        font-family: "Coustard", serif; }
      .Main .card .edit-delete-buttons .delete-button:hover {
        background-color: #66CDAA; }
