body {
  background-color: white;
}

.App-title {
  display: flex;
  flex-direction: column;
}


.Main {
  display: flex;
  
  .QueueColumn {
    border-right: 6px solid green;
  }
  .In-ProgressColumn {
    display: flex;
    padding-right: 170px;
    border-right: 6px solid green;

  }
  .DoneColumn {
    display: flex;
    padding-left: 170px;
    border-right: 6px solid green;

  }
  .card {
    border: 6px solid black;
    width: 150px;
  }
}



// .App {
//   display: flex;
//   // flex-direction: column;
//   .card {
//     // display: flex;
//     border-style: solid;
//     border-color: black;
//     width: 200px
//   }
//   .In-Progress {
//     display: flex;
//     flex-direction: row
//   }
// }

//import in order of importance 