body {
  background-color: white; }

.App-title {
  display: flex;
  flex-direction: column; }

.Main {
  display: flex; }
  .Main .QueueColumn {
    border-right: 6px solid green; }
  .Main .In-ProgressColumn {
    display: flex;
    padding-right: 170px;
    border-right: 6px solid green; }
  .Main .DoneColumn {
    display: flex;
    padding-left: 170px;
    border-right: 6px solid green; }
  .Main .card {
    border: 6px solid black;
    width: 150px; }
